body {
    padding-top: 56px;
}

.carousel-caption {
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.card {
    margin-bottom: 20px;
}
